// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);

    & * {
        box-sizing: border-box;
    }

    &>body {
        height: 100%;
    }
}

// Styling for page sections
header {
    z-index: 1;
}