// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import "./variables.scss";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import custom styles
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/forms.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/footer.scss";
@import "./sections/index.scss";
